@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
    @apply text-blue-950
}
a:hover {
    @apply text-blue-900
}

.modal {
    z-index: 1072;
    @apply hidden fixed top-0 left-0 w-full h-full outline-none
}

.modal.show {
    @apply block
}

.modal-backdrop {
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    @apply fixed bg-black top-0 left-0
}

.modal-backdrop.fade {
    @apply opacity-0
}

.modal-backdrop.show {
    @apply opacity-50
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}
